body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.spaceImage{

}

.spaceBody{
	margin-top: 10%;
	background-color: #000;
}

.spaceParagraph{
	color: #fff;
	width: 50%;
	padding-top: 5%;
}

@media (min-width: 900px) { /*DESKTOP*/

	header{
		margin-left: 25%;
    	margin-right: 25%;
    	position: fixed;
    	background-color: #fff;
    	width: 50%;
    	border-top-right-radius: 10px;
    	border-top-left-radius: 10px;
    	z-index: 999;
    	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		-moz-box-shadow: rgba(0,0,0,0.3) 0.5vw 1vw 3vw;
  		box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		bottom: 0;
	}

	.download{
		height: 4vw;
		padding-top: 1%;
		padding-bottom: 0.5%;
		padding-right: 5%;
		float: right;
	}

	.logo{
		height: 4vw;
		padding-top: 1%;
		padding-left: 5%;

	}

	.ph, .tw{
		height: 4vw;
		padding-left: 5%;
	}

	.ig{
		height: 3vw;
		padding-left: 7%;
		padding-bottom: 0.75%;
	}

	.heading1{
		font-size: 60px;
		width: 50%;
		color: #000;
		opacity: 0.9;
		line-height: 1.0;
		padding-top: 150px;
		padding-bottom: 20px%;
	}

	.heading2{
		font-size: 1.7vw;
		line-height: 1.0;
		opacity: 0.3;
		line-height: 1.0;
	}

	.heading3{
		font-size: 3.6vw;
		line-height: 1.0;
	}

	.paragraph1{
		width: 40%;
		font-size: 1.6vw;
		opacity: 1.0;
		padding-top: 12%;
		line-height: 1.0;
	}

	.paragraph2{
		font-size: 2vw;
		color: #4A4A4A;
	}

	.sub-paragraph{
		font-size: 24px;
		color: #4A4A4A;
		width: 50%;
		opacity: 0.8;
	}

	.textDivLeft{
		padding-top: 15%;
		padding-left: 10%;
	}

	.textDivRight{
		padding-top: 10%;
		padding-right: 10%;
	}

	.section-one{
		height: 42vw;
		padding-top: 0%;
		padding-right: 10%;
		padding-left: 10%;
	}

	.main-video{
		float: right;
		margin-right: 13%;
		border-radius: 2vw;
		margin-top: 3%;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		-moz-box-shadow: rgba(0,0,0,0.3) 0.5vw 1vw 3vw;
  		box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		width: 264px;
  		height: 471px;
	}

	.feature-video{
		margin-left: 20%;
		border-radius: 2vw;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		-moz-box-shadow: rgba(0,0,0,0.3) 0.5vw 1vw 3vw;
  		box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		width: 264px;
  		height: 471px;
	}

	.sectionLeft{
		margin-top: 5%;
		height: 42vw;
		width: 42vw;
		background-color: #fff;
		float: left;
		margin-left: 5%;
/*		border-style: solid;
    	border-width: medium;*/
	}

	.stock{
		height: 42vw;
		width: 42vw;
	}

	.igtv{
		height: 32vw;
		width: 32vw;
	}

	.apps{
		height: 16vw;
		width: 16vw;
		padding-top: 10%;
		padding-left: 30%;
	}

	.sectionRight{
		margin-top: 5%;
		height: 42vw;
		width: 42vw;
		background-color: #fff;
		float: right;
		margin-right: 5%;
/*		border-style: solid;
    	border-width: medium;*/
	}

	footer{
		padding-bottom: 10%;
	}

}



