body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

@media (min-width: 900px) { /*DESKTOP*/

	header{
		padding-top: 1%;
	}

	.heading1{
		font-size: 4vw;
		width: 50%;
		padding-top: 10%;
		color: #000;
		opacity: 0.9;
	}

	.heading2{
		font-size: 1.7vw;
		line-height: 0.5;
		opacity: 0.3;
	}

	.heading3{
		font-size: 3.6vw;
		line-height: 0.5;
	}

	.paragraph1{
		width: 40%;
		font-size: 2.4vw;
		opacity: 0.5;
	}

	.paragraph2{
		font-size: 2vw;
		color: #4A4A4A;
	}

	.section-one{
		height: 42vw;
		padding-top: 5%;
		padding-right: 10%;
		padding-left: 10%;
	}

	.main-video{
		float: right;
		margin-right: 10%;
		margin-top: 2.5%;
		border-radius: 2vw;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		-moz-box-shadow: rgba(0,0,0,0.3) 0.5vw 1vw 3vw;
  		box-shadow: rgba(0, 0, 0, 0.3) 0.5vw 1vw 3vw;
  		width: 264px;
  		height: 471px;
	}

	.sectionLeft{
		margin-top: 5%;
		height: 42vw;
		width: 42vw;
		background-color: #4A4A4A;
		float: left;
		margin-left: 5%;
	}

	.sectionRight{
		margin-top: 5%;
		height: 42vw;
		width: 42vw;
		background-color: #4A4A4A;
		float: right;
		margin-right: 5%;
	}

	footer{
		height: 12vw;
		padding-bottom: 10%;
	}

}

